.nav1{
    background-color: blueviolet;
    position: relative;

    right: 10px;
    width: 1000px;
    height: 200px;
}

.nav2{
    background-color: aquamarine;
    width: 500px;
    margin-top: 10px;
    height: 700px;
    background-image: url('../Images/Sofi.jpeg');
    background-size: cover;
    display: inline-flex;
   
   
}

.nav3{
    background-color: chartreuse;
    height: 700px;
    float: right;
    display: inline-flex;
    margin-top: 10px;
    margin-right: 700px;

 

}